/* Write your CSS here */

.competing-team {
}

.date {
}
.innings {
}
p {
  color: #ffffff;
  font-family: 'Bree Serif';
}
h1 {
  color: #ffffff;
  font-family: 'Bree Serif';
}
@media all and (max-width: 767px) {
  .latest-match-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #1e293b;
    padding: 40px;
    border-radius: 10px;
  }
  .competing-team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .team-details-container {
    padding: 10px;
  }
  .team-result-container {
    margin: 10px;
  }
  .competing-team-image {
    height: 100px;
    width: 100px;
  }
  .team-result-container {
    margin: 10px;
    flex-grow: 1;
  }
  .competing-team {
    font-size: 30px;
  }
  .date {
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
  .innings {
    font-size: 20px;
  }
   hr {
  border: 1px solid #ffffff33;
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  hr {
    display: none;
  }
  .latest-match-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e293b;
    padding: 50px;
    border-radius: 10px;
  }
  .competing-team-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .team-details-container {
    padding: 10px;
  }
  .team-result-container {
    margin: 10px;
    margin-left: auto;
  }
  .competing-team-image {
    height: 200px;
    width: 200px;
  }
  .team-result-container {
    margin: 10px;
    flex-grow: 1;
    text-align: right;
  }
  .competing-team {
    font-size: 40px;
  }
  .date {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .innings {
    font-size: 25px;
  }
}
